.flex-container {
  display: flex;
  gap: 2rem;
}

.left-column {
  width: 40vw;
}

.json-container {
  max-height: 80vh;
  min-width: 40vw;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
  }
}
