.container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.left-column {
  width: 40vw;
}

.right-column {
  max-height: 80vh;
  min-width: 40vw;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}
